<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>GAFF - Article</title>
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/scrolling-nav.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand bg-dark fixed-top" id="mainNav">
    <div class="center-block" th:replace="fragments :: navigator"></div>
</nav>
<table>
    <th>Title</th>
    <th>Description</th>
    <th>Logotyp</th>



    <tr th:action="@{/article}" th:object="${article}" th:method="get">
        <td th:text="${article.getTitle()}"></td>
        <td th:text="${article.getDescription()}"></td>
    </tr>
</table>

<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Plugin JavaScript -->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom JavaScript for this theme -->
<script src="js/scrolling-nav.js"></script>

</body>
</html>
