<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Navigation</title>
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/scrolling-nav.css" rel="stylesheet">
</head>
<body>

<div th:fragment="navigator">


    <table style="margin-left: 600px; margin-bottom: 20px">
        <tr>
            <td>
                <a th:href="@{/save/article}">Add gift</a>
                <a th:href="@{/login}">Login</a>
                <a th:href="@{/home}">Search user</a>
                <form th:action="@{/user}" th:method="get">
                <input type="text" id="username" name="username" value="Wpisz użytkownika">
                <input type="submit">
                </form>
                <a th:href="@{/register}">Register user</a>
                <a th:href="@{/bookings}">Book here</a>
            </td>

        </tr>
    </table>
</div>

</body>

</html>
