<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:fragment="navigator">


    <table style="margin-left: 600px">
        <tr>
            <td>
                <a th:href="@{/user/edit}">Edytuj użytkownika</a>
                <a th:href="@{/login}">Logowanie</a>
                <a th:href="@{/home}">Wyszukaj użytkownika</a>
                <form th:action="@{/user}" th:method="get">
                <input type="text" id="username" name="username" value="Wpisz użytkownika">
                <input type="submit">
                </form>
                <a th:href="@{/register}">Zarejstruj się</a>
                <a th:href="@{/user/articles}">Twoje śmieci</a>
            </td>

        </tr>
    </table>
</div>

</body>

</html>
