<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>GAFF - Search user</title>
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/scrolling-nav.css" rel="stylesheet">
</head>
<body>

<nav class="navbar navbar-expand bg-dark fixed-top" id="mainNav">
<div class="center-block" th:replace="fragments :: navigator"></div>
</nav>

<form role="form" th:action="@{/user}" th:method="get">
    <lable>Username</lable>
    <input type="text" id="username" name="username">

    <input type="submit">


<!--    <p>lub <a th:href="@{/sign-up}">zarejestruj</a> </p>-->
</form>
<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Plugin JavaScript -->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom JavaScript for this theme -->
<script src="js/scrolling-nav.js"></script>
</body>
</html>
