<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="css/scrolling-nav.css" rel="stylesheet">

<head>
    <title>GAFF - Login</title>
</head>
<body>
<div class="navbar navbar-dark fixed-top"></div>
<div class="container">
    <div class="row">
        <div class="col-md-4 mt-5">
            <form role="form" th:action="@{/login}" th:method="post">
                <div class="form-group">
                    <p class="nav-item">
                        <label>Username</label>
                        <input type="text" id="username" name="username">
                    </p >
                    <p class="nav-item">
                        <label>Password</label>
                        <input type="password" id="password" name="password">
                    </p>
                    <input class="btn btn-primary" type="submit" name="login-submit" id="login-submit">

                    <div th:if="${param.error}">
                        <div class="alert alert-danger">Invalid username or password</div>
                    </div>

                    <div th:if="${param.logout}">
                        <div class="alert alert-info">You have been logged out.</div>
                    </div>

                </div>


                <p>lub <a th:href="@{/register}">zarejestruj</a></p>

                <a th:href="@{/home}">Home</a>

            </form>
        </div>
    </div>
</div>

<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Plugin JavaScript -->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom JavaScript for this theme -->
<script src="js/scrolling-nav.js"></script>

</body>
</html>
