<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

<link th:href="@{./css/bootstrap.css}" rel="stylesheet"/>
<script type="text/javascript" th:src="@{./js/bootstrap.js}"></script>
<script type="text/javascript" th:src="@{./js/jquery.js}"></script>
<script type="text/javascript" th:src="@{./js/propper.js}"></script>

<head>
    <title>Spring Boot User Authentication</title>
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-md-4 mt-5">
            <form role="form" th:action="@{/login}" th:method="post">
                <div class="form-group">
                    <p class="nav-item">
                        <lable>Username</lable>
                        <input type="text" id="username" name="username">
                    </p >
                    <p class="nav-item">
                        <lable>Password</lable>
                        <input type="password" id="password" name="password">
                    </p>
                    <input class="btn btn-primary" type="submit">
                </div>
                <p>lub <a th:href="@{/register}">zarejestruj</a></p>

                <a th:href="@{/home}">Home</a>

            </form>
        </div>
    </div>
</div>
</body>
</html>
