<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="css/scrolling-nav.css" rel="stylesheet">

<head>
    <meta charset="UTF-8">
    <title>GAFF - register</title>
    <style>
        .imagecontainer {
            position: relative;
            width: 100%;
            max-width: 400px;
        }

        .rightIframe {
            float: right;
            position: relative;
            size: 100px;
            margin: 1px 1px;
            border-right: 20px;
        }

        .overlay {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            height: 100%;
            width: 100%;
            opacity: 0;
            transition: .3s ease;
            border-radius: 50%;
        }

        .imagecontainer:hover .overlay {
            opacity: 1;
        }

        .icon {
            color: white;
            font-size: 40px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            text-align: center;
        }

        .fa-trash:hover {
            color: red;
        }
    </style>
</head>
<body>



<div class="container-fluid">
    <div class="row">
        <hr class="col-md-12">
        <h2> User form</h2>
    </div>


    <form action="#" th:action="@{${isAdd}?'/save':'update'}" th:object="${user}" method="post"
          enctype="multipart/form-data">
        <div class="form-group">
            <label>Username</label>
            <input type="text" id="username" name="username" th:field="*{username}" required="required">
            <p id="error_username"></p>
        </div>
        <div>
            <label>Email</label>
            <input type="text" id="email" name="email" th:field="*{email}" required="required">
            <p id="error_email"></p>
        </div>

        <div>
            <label>Password</label>
            <input type="password" id="password" name="password" th:field="*{password}" required="required">
            <p id="error_password"></p>
        </div>
        <div>
            <label>Region</label>
            <input th:type="text" id="region" name="region" th:field="*{region}" required="required">
            <p id="error_region"></p>
        </div>
        <div>
            <label>City</label>
            <input th:type="text" id="city" name="city" th:field="*{city}" required="required">
            <p id="error_city"></p>
        </div>
        <div>
            <label>Street</label>
            <input th:type="text" id="street" name="street" th:field="*{street}" required="required">
            <p id="error_street"></p>
        </div>
        <div>
            <label>Street number</label>
            <input th:type="text" id="streetNo" name="streetNo" th:field="*{streetNo}" required="required">
            <p id="error_street_number"></p>
        </div>
        <div>
            <label>Zip code</label>
            <input th:type="text" id="zipCode" name="zipCode" th:field="*{zipCode}" required="required">
            <p id="error_zipcode"></p>
        </div>

        <div>
            <label for="uploadimg">Logo</label>
        <input id="uploadimg" type="file" th:name="image">
            <p id="error_img"></p>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary" th:text="${isAdd}?'Save':'Update'"></button>
            <span> Already registered? <a href="/" th:href="@{/login}">Login here</a> </span>
        </div>


        <img th:src="@{'data:image/png;base64,' + ${actualImage}}" alt="notworking">

<!--        <div class="form-group">-->
<!--            <input type="file" class="form-control" id="files" placeholder="Upload files" th:field="*{files}"-->
<!--                   multiple="multiple">-->
<!--        </div>-->
    <div class="alert alert-success alert-dismissible" th:if="${successmessage}">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong th:text="${successmessage}"></strong>
    </div>
    <div class="alert alert-danger alert-dismissible" th:if="${errormessage}">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong th:text="${errormessage}"></strong>
    </div>


<!--        <div class="form-group">-->
<!--            <span th:each="file, itrStat : ${userFiles}" class="imagecontainer" th:id="'imageIndex'+${itrStat.index}">-->
<!--                <img th:src="@{'/images/'+${file.modifiedFilename}}"-->
<!--                     style="width:80px; height:80px; border-radius: 50%; margin-left:10px;" class="image"-->
<!--                     th:if="${file.fileExtension != 'xlsx' and file.fileExtension != 'pdf' and file.fileExtension != 'xls'}">-->
<!--                <span class="overlay">-->
<!--                    <a href="#" class="icon image-confirm-delete" title="image delete"-->
<!--                       th:attr="data-id=${itrStat.index}, data-name=${file.modifiedFilename}">-->
<!--                        <i class="fa fa-trash" style="color:deeppink;"></i>-->
<!--                    </a>-->

<!--                </span>-->
<!--            </span>-->
<!--        </div>-->

<!--        <input type="hidden" class="form-control" th:field="*{removeImages}" id="removeImages">-->
<!--        <input type="hidden" class="form-control" th:field="*{id}">-->

<!--        <p class="">-->
<!--            <img class="rightIframe" id="thumbnail" alt="yours logo" style="size:20%; width: 20%; height: 20%"/>-->
<!--        </p>-->

<!--        -->

<!--        <tr th:each="images : ${image}">-->

<!--            <td><img th:src="@{'data:image/png;base64,' + ${images}}" alt="notworking" style="width: 150px;height: 120px;">-->
<!--        </td>-->







        <td>
            <a th:href="@{'/edituser/'+${user.id}}"><i class="fa fa-edit" style="font-size:21px"></i> </a>
        </td>
    </form>

</div>


<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Plugin JavaScript -->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom JavaScript for this theme -->
<script src="js/scrolling-nav.js"></script>

<script type="text/javascript">
    $(function () {
        var images = [];
        $('.image-confirm-delete').on('click', function (e) {
            e.preventDefault();
            var id = $(this).data('id');
            var name = $(this).data('name');
            images.push(name);
            $('#removeImages').val(images);
            $('#imageIndex' + id).hide();
        });
    });
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#files').change(function () {
            showImageThumbnail(this)
        });
    });

    function showImageThumbnail(fileInput) {
        file = fileInput.files[0];
        reader = new FileReader();

        reader.onload = function (e) {
            $('#thumbnail').attr('src', e.target.result);
        };
        reader.readAsDataURL(file);
    }
</script>

</body>
</html>
