<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <title>Registration</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-md-4 mt-5">
            <form role="form" th:action="@{/register}" method="post" th:object="${apiUserDto}"
                  style="max-width:400px; margin: 0 auto">

                <div class="form-group" th:width="25px">
                    <div>
                        <label>Name</label>
                        <input type="text" id="username" name="username" th:field="*{username}" required="required">
                    <p id="error_username"></p>
                    </div>
                    <div>
                        <label>Email</label>
                        <input type="text" id="email" name="email" th:field="*{email}" required="required">
                    <p id="error_email"></p>
                    </div>

                    <div>
                        <label>Password</label>
                        <input type="password" id="password" name="password" th:field="*{password}" required="required">
                    <p id="error_password"></p>
                    </div>
                    <div>
                        <label>Region</label>
                        <input th:type="text" id="region" name="region" th:field="*{region}" required="required">
                    <p id="error_region"></p>
                    </div>
                    <div>
                        <label>City</label>
                        <input th:type="text" id="city" name="city" th:field="*{city}" required="required">
                    <p id="error_city"></p>
                    </div>
                    <div>
                        <label>Street</label>
                        <input th:type="text" id="street" name="street" th:field="*{street}" required="required">
                    <p id="error_street"></p>
                    </div>
                    <div>
                        <label>Street number</label>
                        <input th:type="text" id="streetNo" name="streetNo" th:field="*{streetNo}" required="required">
                    <p id="error_street_number"></p>
                    </div>
                    <div>
                        <label>Zip code</label>
                        <input th:type="text" id="zipCode" name="zipCode" th:field="*{zipCode}" required="required">
                    <p id="error_zipcode"></p>
                    </div>

<!--                    <input id="uploadimg" type="file" th:field="*{image}">-->

                    <div class="col-md-6 col-sm-6 contact-form1 form-group">
                        <label class="col-form-label">Image</label>
                        <input type="file" class="form-control" placeholder="" name="logotype" id="logotype" required="required">
                        <p id="error_file"></p>
                    </div>


<!--                    <p>-->
<!--                        <label>Logotype</label>-->
<!--                        &lt;!&ndash;    <form th:action="@{/upload}" method="post" enctype="multipart/form-data"></form>&ndash;&gt;-->

<!--                        <input th:type="file" id="logotype" name="logotype" accept="imege/png, image/jpeg">-->
<!--                    </p>-->
                    <p>
                        <img id="thumbnail" alt="yours logo"/>
                    </p>
                    <p>
                        <input name="submit" class="btn btn-primary" type="submit">
                    </p>
                </div>


            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#logotype').change(function () {
            showImageThumbnail(this)
        });
    });

    function showImageThumbnail(fileInput) {
        file = fileInput.files[0];
        reader = new FileReader();

        reader.onload = function (e) {
            $('#thumbnail').attr('src', e.target.result);
        };
        // reader.readAsBinaryString(file)
        reader.readAsDataURL(file);
    }
</script>




</body>
</html>
